<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhl.ali.mapper.OrderMapper">
    <insert id="saveOrder" parameterType="com.zhl.springcloud2020.common.entities.Order">
        INSERT INTO `seata_order`.`t_order`(`userid`, `productid`, `money`, `count`, `status`) VALUES ( ${userid}, ${productid}, ${money}, ${count}, ${status});
    </insert>
</mapper>